body {
    background-color: #dee;
    margin: 2em;
}



#search-results {
    margin-top: 1.6em
}

ul#search-results {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

ul#search-results li {
    margin-bottom: 1em;
    padding:1em;
    background-color: white;
}

ul#search-results li .qlabel {
    display: inline-block;
    margin-bottom: 0.2em;
    padding-bottom: 0.2em;
    border-bottom: 2px solid #1eb1cc;
    font-style: italic;
}

ul#search-results li .qlabel .aid {
    margin-left: 2em;
    color: #bbb;
}

ul#search-results li p {
    margin: 0;
}

form {
    margin-top: 3em;
    padding:0.5em;
    border:2px solid #1eb1cc;
    max-width: 40em;
}

form label {
    font-weight: bold;
}

form input#search-box {
    width: 35em;
}
